.primary-button {
  background-color: #f47690;
  color: white;
  height: 100%;
  padding: 4px 24px;
  border-radius: 0px 6px 6px 0px;
  border-bottom: 3px solid #FEE966;
  border-top: 3px solid #FEE966;
  border-right: 3px solid #FEE966;
  font-weight: 600;
  letter-spacing: 2px;
}

.primary-button:hover {
  
}
