.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.search-form {
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 4em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 6px;
  margin-block: 1rem;
}

.search-form:focus {
  border: none;
}

.search-form .input {
  flex-grow: 1;
  border-left: 3px solid #FEE966;
  border-top: 3px solid #FEE966;
  border-bottom: 3px solid #FEE966;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
  height: 100%;
  padding: 1em;
}

.search-form .input:focus-visible {
  outline: none;
}

.search-form .input:focus {
  border-left: 3px solid #FEE966;
  border-top: 3px solid #FEE966;
  border-bottom: 3px solid #FEE966;
  box-shadow: none;
}

.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-result h3 {
  font-size: 1em;
  padding: 1em;
  font-weight: 800;
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  width: 100%;
}

.results-container:only-child {
  display: block;
}

.results-container:only-child .no-result {
  grid-column: 1;
}
