.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.search-form {
  background-color: white;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 4em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 6px;
}

.search-form .input {
  flex-grow: 1;
  border-left: 3px solid #FEE966;
  border-top: 3px solid #FEE966;
  border-bottom: 3px solid #FEE966;
  border-radius: 6px 0px 0px 6px;
  height: 100%;
  padding: 1em;
}

.search-form .input:focus-visible {
  outline: none;
}
